body{
    background-color: #f1f1f1;
}
#resumeContainer{
    max-width: 1350px;
    background-color: #ffffff;
    margin: 0px auto 0px;
    margin-top:50px;
    padding:40px;

}
#headerContainer{
    margin-bottom: 30px;
}

img{
    border-radius: 50%;
}
#nameContainer{
    margin-bottom: 5px;
    position: relative;
    top:-195px;
    left: 185px;
}
#name{
    font-size: 45;
    text-transform: uppercase;
    font-family: sans-serif, monospace;
    letter-spacing: 0.05em;
}
#lastName{
    color: #bd2509
}
#jobContainer{
    margin-bottom:20px;
    position: relative;
    top: -227px;
    left: 185px;
}
#jobTitle{
    color:black;
    font-size:30;
    font-family:'Lucida Sans' , monospace;
    font-weight: 700;
}
#infoContainer{
  margin-bottom: 10px;
  right: 0;
  position: relative;
  top:-375px;
}
.info{
    font-family:sans-serif, monospace;
    font-size: 20px;
    text-align: right;
}
#leftColumn{
    clear:both;
    width:auto;
    float:left;
    position: relative;
    left: -130px;
    top: -145px;
    height: auto;
}
#rightColumn {
    width:auto;
    height: auto;
    float:right;
    padding-bottom:20px;
    padding-right:30px;
    position:relative;
    top: -160px;
    right: -775px;
  }
#profile {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 28.75px;
    text-align: right;
    height: max-content
}
.dividers{
    width: 598.667px; 
    height: 3.71843px; 
    transform: translate(228px, 275.998px);
}

